*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: rgba(14, 31, 57, 1.0);
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.Viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Viewport_Thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Viewport_Picture {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.Folder {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
    min-height: 162px; /* .File height + margin on top and bottom */
    text-align: center;
    margin-bottom: 7px;
    cursor: pointer;
    font-family: "Orkney Regular Italic";
    color: white;
    border: 3px solid rgba(192, 192, 192, 0.3);
}

.Folder_Name {
    width: 67%;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1.5em;
}

.File {
    display: inline-block;
    border: 1px solid rgba(192, 192, 192, 0.3);
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 6px;
    background-position: center;
    background-repeat: no-repeat;
}

.File_Wide {
    background-size: auto 100%;
}

.File_Tall {
    background-size: 100% auto;
}

.Picture {
    display: block;
    margin: auto;
    padding: 0;
    height: 100%;
    border: 2px solid rgba(192, 192, 192, 0.3);
    border-radius: 12px;
}
